html {
    height:100%;
    width:100%;
}

body {
    background-color: #f7a474;
}
.fondo-nav {
    background-color: antiquewhite;
    height: 700px;
}

.section_1 {
    height: 100%;
    background-color: aliceblue;
}
.pizarra {
    width: 80%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin: 20px
}

.tarea {
    width: 100%;
    height: 100px;
    background-color: aqua;
    border-radius: 5px;
    margin-bottom: 10px;
}

.tituloTarjeta {
    height: 50%;
}