html {
    height:100%;
    width:100%;
}

body {
    background-color: #f7a474;
}
.fondo-nav {
    background-color: antiquewhite;
    height: 700px;
}

.container-fluid {
    height: 100%;
    background-color: aliceblue;
}