html {
    height:100%;
    width:100%;
}

body {
    background-color: #f7a474;
}
.fondo-nav {
    background-color: antiquewhite;
    height: 700px;
}

.section_1 {
    height: 100%;
    background-color: aliceblue;
}
.pizarra {
    z-index: -1;
    min-height: 600px;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 10px;
    margin: 20px
}

.tarea_Azul {
    z-index: 1;
    width: 100%;
    height: 185px;
    background: url('../assets/img/posit-azul.png') no-repeat center center;
    background-size:100% 100%;
    padding: 8% 6% 6% 6%;
    display: inline-block;
}

.tarea_Amarrillo {
  z-index: 1;
  width: 100%;
  height: 185px;
  background: url('../assets/img/posit-amarrillo.png') no-repeat center center;
  background-size:100% 100%;
  padding: 8% 6% 6% 6%;
  display: inline-block;
}
.tarea_Verde {
  z-index: 1;
  width: 100%;
  height: 185px;
  background: url('../assets/img/posit-verde.png') no-repeat center center;
  background-size:100% 100%;
  padding: 8% 6% 6% 6%;
  display: inline-block;
}
.tarea_Naranjo {
  z-index: 1;
  width: 100%;
  height: 185px;
  background: url('../assets/img/posit-naranjo.png') no-repeat center center;
  background-size:100% 100%;
  padding: 8% 6% 6% 6%;
  display: inline-block;
}
.tarea_Rosa {
  z-index: 1;
  width: 100%;
  height: 185px;
  background: url('../assets/img/posit-rosa.png') no-repeat center center;
  background-size:100% 100%;
  padding: 8% 6% 6% 6%;
  display: inline-block;
}

.tituloTarjeta {
}
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}
.modal-open {
  padding-right: 0px !important;
}

/*seleccion de color*/
.amarrilloTarea {
  background-color: yellow;
}
.verdeTarea {
  background-color: yellowgreen;
}
.naranjoTarea {
  background-color: orange;
}
.rosaTarea {
  background-color: palevioletred;
}
.azulTarea {
  background-color: cornflowerblue;
}